body {
	font-family:Arial, Verdana, sans-serif;
	background-color:#FFF5F5;
	background-image: url("img/Background.png");
	padding: 3em;
	padding-left: 15em;
	padding-right: 15em;
	font-size: 0.9em;
}

#subtitle {
	font-size: 0.8em;
	font-style: italic;
	color: #555555;
}

#content {
	width: 100%;
}

h1 {
	font-weight: 100;
	font-size: 4em;
	margin: 0;
}

h2 {
	font-weight: 100;
	font-size: 2em;
	margin: 0;
}

h3 {
	font-size: 0.7em;
	margin: 0;
}

h4 {
	font-size: 1.3em;
	margin: 0;
}

img.picture {
	width: 30em;
	display: block;
	margin: 2em;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, 1);
	box-shadow: 0 0 1em rgba(0, 0, 0, 1);
}

img.preview {
	margin: 0;
	width: 10em;
	display: block;
	float: right;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, 1);
	box-shadow: 0 0 1em rgba(0, 0, 0, 1);
}

pre {
	background: white;
	background: rgba(255, 255, 255, 0.5);
	width: 60%;
	margin: 2em;
	padding: 1em;
	border: solid 0.2em black;
}

a {
	color: #555555;
}

a:visited {
	color: #999999;
}

a.title {
	text-decoration: none;
}

a.post {
	font-size: 1.5em;
	text-decoration: none;
}

.difficulty {
	font-size: 1.3em;
}

.difficulty img {
	width: auto;
	height: 1em;
	margin: 0;
}

.entry {
	width: 100%;
	border-top: dotted black 1px;
}

.entry td {
	padding: 1em;
}